name: Submit Request To Enterprise Admins

on:
  issue_comment:
    types:
      - created

env:
  APPROVER-GROUP: "issue-ops-admins"

jobs:
  submit:
    name: Submit Request To Enterprise Admins
    runs-on: ubuntu-latest

    # This job should only be run when the following conditions are true:
    #
    # - A user comments `.submit` on the issue.
    # - The issue has the `validated` label.
    # - The issue does not have the `approved` or `denied` labels.
    # - The issue is open.
    # - The issue is a delete repo request.
    if: github.event.comment.body != ''
      && startsWith(github.event.comment.body, '.submit')
      && contains(github.event.issue.labels.*.name, 'validated') == true
      && contains(github.event.issue.labels.*.name, 'approved') == false
      && contains(github.event.issue.labels.*.name, 'denied') == false
      && github.event.issue.state == 'open'
      && contains(github.event.issue.labels.*.name, 'delete-repo') == true

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Get GitHub App Token
        id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.ISSUEOPSBOT_APP_ID }}
          private-key: ${{ secrets.ISSUEOPSBOT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.repository_name }}
          permission-issues: write

      - name: Create Comment Message
        if: always()
        id: create-message
        run: |
            MESSAGE="@${{ github.repository_owner }}/${{ env.APPROVER-GROUP }}:  The request has been submitted and is ready for your review. Please comment with '.approve' or '.deny' to approve or deny this request."
            echo "comment=$MESSAGE" >> $GITHUB_OUTPUT
          
      - name: Post Comment        
        if: always()
        id: post-comment
        uses: lee-lott-actions/post-issue-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          message: ${{ steps.create-message.outputs.comment }}
          token: ${{ steps.token.outputs.token }}
          owner: ${{ github.repository_owner }}
          repo-name: ${{ github.event.repository.name }}

      - name: Add Submitted Label
        if: ${{ steps.post-comment.outputs.result == 'success' }}
        id: add-label
        uses: issue-ops/labeler@v2
        with:
          action: add
          github_token: ${{ steps.token.outputs.token }}
          labels: |
            submitted
          issue_number: ${{ github.event.issue.number }}
          repository: ${{ github.repository }}          
